
.map-container {
    margin-top: 6rem;
    height: calc(100vh - 70px); /* Adjusted height */
    width: 100%;
    position: relative;
}

.back-button {
    position: absolute;
    top: 4rem;
    left: 10px;
    z-index: 1000;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
