* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 7rem; /* Adjust size as needed */
    color: #ffffff; /* Adjust color as needed */
    text-align: center; /* Center align text */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Maximum width for larger screens */
    padding: 20px;
    margin: auto;
    background-color: #fff;
    height: 100vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
    flex: 1;
}

.quiz-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

input, button, textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 1rem;
}

button {
    background-color: #2c84cb;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.leaflet-container {
    width: 100%;
    flex-grow: 1;
    margin-top: 20px;
    height: 50vh;
    min-height: 300px;
    max-height: 500px;
    padding: 0;
    overflow: hidden; 
}

/* Ensure responsiveness with media queries */
@media (max-width: 768px) {
    #leaflet-container {
        height: 40vh;
    }
}

@media (max-width: 600px) {
    #leaflet-container {
        height: 30vh; /* Reduce map height on smaller screens */
    }
}


    #leaflet-container {
        height: 30vh; /* Reduce map height on smaller screens */
    }
    
    button {
        font-size: 0.85rem;
        padding: 8px;
    }

